.wrapper {
    padding-top: 73px;
}
.header {
    display:flex;
    width:900px;
    margin-left: auto;
    margin-right: auto;
    .logo{
        display:block;
    }
    .nav {
        text-align: center;
        list-style: none;
        .nav-item {
            display: flex;
            right:30px;
        }
    }
}
main {
    .main-image{
        text-align: center;
        width: 100%;
    }
    .word1{
        text-align: center;
        font-size: 40px;
        line-height:200%;
    }
    .word2{
        text-align: center;
        line-height:300%;
    }
    .word3{
        text-align: center;
        line-height:300%;
    }
    .back-image1{
        background-image: url("/Users/yamadaakihiro/GitHub/curriculum/skillcheck/images/長方形1.png");
        background-repeat: no-repeat;
    }
    .about-title {
        font-size:100px;
        text-align: center;
    }
    .word4{
        text-align: center;
    }
    .word5{
        text-align: center;
        font-size: 30px;
    }
    .ab1 {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }
    .sanpuzu {
        display: flex;
        width:20%;
        margin-right: 30px;
        
    }
    .word6{
        text-align: center;
        font-size: 30px;
    }
    .ab2 {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }
    .hikaku {
        display: flex;
        width:20%;
        margin-right: 30px;
        
    }
    .word7{
        text-align: center;
        font-size: 30px;
    }
    .top {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }
    .t1 {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;
    }
    .t2 {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }
    .t3 {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;
    }
    .t4 {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;
    }

}

